* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .minicontainerstyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #upgrades-shop-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

  }